<div id="wrapper">
    <div id="main">
        <article id="about">
            <h2 class="major">About</h2>
            <span class="image main"><img src="../../assets/images/me1.jpeg" alt="" /></span>
            <h2 style=
            "font-size: 1.75rem; 
            font-family: Oswald, sans-serif !important;
            font-weight: 700;
            margin: 20px 1 0;">{{about.description}}</h2>
            <p style="font-size: medium;">{{about.description2}} </p>
            <p>{{about.description3}}</p>
            <p>{{about.description4}}</p>
        </article>
    </div>
</div>