<div id="wrapper">
    <div id="main">
        <article id="about">
            <h2 class="major">About</h2>
            <span class="image main"><img src="../../assets/images/lake.jpeg" alt="" /></span>
            <p>I am a first generation American, the daughter of immigrants who instilled in me the values
                of hard work and resilience. 
            </p>
            <p>
                Outdoors and computers. Two seemingly incompatible worlds. Yet, these are the things I'm most passionate about and I've only
                continued to find that they complement each other perfectly. My backpacking pack and machine are each extensions of me. I use my software engineering skills to solve problems.
                My thrill for adventure to carry me over mountains. 
            </p>
            <p>
                Nature quiets me. It allows me to think outside a very noisy world. It transpires new ideas and solutions.
            </p>
            <p>
                My computer is where these ideas come to life. 
            </p>
        </article>
    </div>
</div>