<div id ="wrapper">
    <div id="main">
        <article id="contact">
            <h2 class="major">Contact</h2>
            <form class="contact" [formGroup]="form" method="post" (ngSubmit)="onSubmit()">
                <div class="fields">
                    <div class="field half">
                        <label for="name">Name</label>
                        <input [formControl]="name" type="text" name="name" id="name" />
                    </div>
                    <div class="field half">
                        <label for="email">Email</label>
                        <input [formControl]="email" type="text" name="email" id="email" />
                    </div>
                    <div class="field">
                        <label for="message">Message</label>
                        <textarea [formControl]="message" maxLength="256" name="message" id="message" rows="4"></textarea>
                    </div>
                    <input [formControl]="honeypot" class="hidden" type="text"/>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Send Message" class="primary" /></li>
                    <li><input type="reset" value="Reset" /></li>
                </ul>
                <div [ngClass]="!submitted? 'hidden' : 'visible'" class="center-text">
                    <span>{{responseMessage}}</span>
                </div>
            </form>
            <ul class="icons">
                <li><a href="https://www.linkedin.com/in/dianna-melendez/" class="icon brands fa-linkedin-in"><span class="label">Linkedin</span></a></li>
                <li><a href="https://www.instagram.com/diannerrsss/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="https://github.com/codingtrees" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
            </ul>
        </article>
    </div>    
</div>