
      <div>
        <button mat-button class="menu-button" (click)="sidenav.toggle()">
            <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
          </button>
    
        <a routerLink="/">
          <span class="app-title"></span>
        </a>
      </div>
   



<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav autoFocus="false"
     mode="side" [(opened)]="isMenuOpen" 
     class="sidenav"
     (click)="onSidenavClick()">
     <div class="container">
        <a mat-button routerLink="/page1">About</a>
        <a mat-button routerLink="/page2">Work</a>
        <a mat-button routerLink="/page3">Journal</a>
        <a mat-button routerLink="/page4">Contact</a>
    </div>
      
    
    </mat-sidenav>
    <mat-sidenav-content>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>