
      <div>
        <button mat-button class="menu-button" style="position: relative; z-index: 3"(click)="sidenav.toggle()">
            <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
          </button>
    
        <a routerLink="/">
          <span class="app-title"></span>
        </a>
      </div>
   



<mat-sidenav-container style="z-index: 2"class="sidenav-container">
    <mat-sidenav #sidenav autoFocus="false"
     mode="side" [(opened)]="isMenuOpen" 
     class="sidenav"
     (click)="onSidenavClick()">
     <div class="container">
        <a mat-button routerLink="/about">About</a>
        <a mat-button routerLink="/work">Work</a>
        <a mat-button routerLink="/journal">Journal</a>
        <a mat-button routerLink="/contact">Contact</a>
        <a mat-button routerLink="/contact">Shop</a>
    </div>
      
    
    </mat-sidenav>
    <!-- <mat-sidenav-content>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content> -->
  </mat-sidenav-container>