<div>
    <div id="main">
        <article id="about">
            <h2 class="major">Journal</h2>
            <span class="image main"><img src="../../assets/images/ritter.jpeg" alt="" /></span>
            <button mat-button class="jmt-button" (click)="btnClick()">
                John Muir Trail
             </button>
         </article>
    </div>
</div>

<!-- <div id="main">
    <article id="about">
        <h2 class="major">Journal</h2>
        <span class="image main"><img src="../../assets/images/ritter.jpeg" alt="" /></span>
        <button mat-button class="jmt-button" (click)="btnClick()">
            John Muir Trail
         </button>
     </article>
</div> -->

