<!-- <div id="wrapper">
    <div id="main">
        <article id="about">

            <p>ONE THING</p>
         </article>
         <div class="space"></div>   
    </div>
    

<p>ANOTHER THING</p>

</div> -->

<div>
    <div id="main">
        <article id="about">
            <h2 class="major">Journal</h2>
            <span class="image main"><img src="../../assets/images/ritter.jpeg" alt="" /></span>
            <button mat-button class="jmt-button" (click)="btnClick()">
                DAY 1
             </button>
             <app-show-post></app-show-post>

         </article>
    </div>
</div>
