<div id="wrapper">
    <div id="main">
        <article id="about">
            <h2 class="major">Day 1: Return to Yosemite</h2>
            <span class="image main"><img src="../../assets/images/day1.jpeg" alt="" /></span>
            <!-- <h2 style=
            "font-size: 1.75rem; 
            font-family: Oswald, sans-serif !important;
            font-weight: 700;
            margin: 20px 1 0;">{{about.description}}</h2>
            <p style="font-size: medium;">{{about.description2}} </p> -->
            <p>{{entry.description}}</p>
        </article>
    </div>
</div>