.sidenav-container {
    flex: 1;

    

    
}

.sidenav {
    min-width: 240px;

    
}

main {
    padding: 18px 24px;
}

a {
    display: inline;
    padding: 6px 24px;
    width: 100%;
    text-align: left;
}