<div id="wrapper">
  
    <!-- Header -->
    <header id="header">
      
  
      <div class="logo">
        <span class="icon fa-gem"></span>
      </div>
      <div class="content">
        <div class="inner">
          <h2>DIANNA GOMEZ</h2>
          <p>Software Engineer, Problem Solver, & Adventurer</p>
        </div>
      </div>
      <nav>
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/work">Work</a></li>
          <li><a href="/journal">Journal</a></li>
          <li><a href="/contact">Contact</a></li>
          <!--<li><a href="#elements">Elements</a></li>-->
        </ul>
      </nav>
    </header>
  </div>